header {
  font-family: 'streetbrush';
}

a {
  color: white;
  text-decoration: none;
  border-bottom: 2px solid #4197ff;
}

.header {
  font-size: 10rem;
}

.header-letter {
  display: inline-block;
  margin: 0;
}

.title, .navigation {
  font-family: 'PT Serif';
}

.title {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.25rem;
}

.navigation-list {
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-list-item {
  font-size: 1.25rem;
  display: inline-block;
}

.navigation-list-item::after {
  color: #4197ff;
  content: "·";
  margin: .5rem;
}

.navigation-list-item:last-child::after {
  content: "";
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appear-then-slide-in {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  50% {
    opacity: 1;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes appear-and-slide-in {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  75% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.header-letter--1,
.header-letter--2,
.header-letter--3,
.header-letter--4,
.header-letter--5 {
  animation-name: appear;
  animation-duration: 1s;
}

.header-letter--6,
.header-letter--7,
.header-letter--8,
.header-letter--9 {
  animation-name: appear-then-slide-in;
  animation-duration: 2s;
}

.title {
  animation-name: appear-and-slide-in;
  animation-duration: 3s;
}

.navigation-list {
  animation-name: appear-and-slide-in;
  animation-duration: 4s;
}